@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    background-color: #f8f1e5; /* Cambio de fondo a un tono más claro */
    color: #6b4f47; /* Color de texto más oscuro para mejor legibilidad */
    font-family: 'Poppins', sans-serif;
}

.task-title {
    font-size: 3.2rem;
}

header {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

hr {
    border: none;
    height: 3px;
    background-color: #fff;
    width: 60px;
}


.task-card {
    transition: transform 0.2s; /* Transición suave al pasar el cursor */
}

.task-card:hover {
    transform: scale(1.02); /* Efecto de agrandamiento suave */
}

@media (max-width: 576px) {
    .container {
        padding: 0 1rem; /* Padding para pantallas pequeñas */
    }

    h1.display-4 {
        font-size: 2.5rem; /* Tamaño de fuente ajustado para pantallas pequeñas */
    }
}
